<h1>Log In</h1>
<%= flash[:alert] %>
<%= form_with url: log_in_path, local: true do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.submit "Sign In"%>
    </div>
<% end %>
