<% if logged_in? %>
<br>
  Logged in as: <%= Current.user.email %>
<br>
  <%if Current.user.avatar.attached? %>
    <%=image_tag Current.user.avatar, class: "avatar-index rounded-circle mx-auto", style: "width: 95px" %>
  <%end%>
<br>

<div>
  <% @posts.each do |post| %>
    <div>
      <%= post.user.email %><br>
      <%= link_to post.message, post %><br>
      <% if post.image.attached? %>
        <image class="image" src="<%=(url_for(post.image))%>">
      <% end %>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </div><br>
  <% end %>
</div>

<% end %>
