<% if logged_in? %>
<br>
  Logged in as: <%= Current.user.email %>
<br>
<br>

<div>
  <% @posts.each do |post| %>
    <div>
      <%= post.user.email %><br>
      <%= link_to post.message, post %><br>
      <% if post.image.attached? %>
        <image class="image" src="<%=(url_for(post.image))%>">
      <% end %>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    </div><br>
  <% end %>
</div>

<% end %>
