<% if logged_in? %>
<br>
  Logged in as: <%= Current.user.email %>
<br>
  <%if Current.user.avatar.attached? %>
    <%=image_tag Current.user.avatar.variant(:thumb) %>
  <%end%>
<br>

<div>
  <% @posts.each do |post| %>
    <div>
      <%= post.user.email %><br>
      <%= link_to post.message, post %><br>
      <% if post.image.attached? %>
        <image class="image" src="<%=(url_for(post.image))%>">
      <% end %>
    </div><br>
  <% end %>
</div>

<% end %>
