<% if logged_in? %>
<table class="table">
  <%if Current.user.avatar.attached? %>
    <%=image_tag Current.user.avatar.variant(:thumb), id: 'avatar', class: 'avatar' %>
  <%end%>
  Logged in as: <%= Current.user.email %>
</table>

<br>

<table class="table-info">
  <% @posts.each do |post| %>
    <tr>
      <% if post.user.avatar.attached? %> 
      <%=image_tag post.user.avatar.variant(:icon), class: "avataricon" %>
      <%end%>
      <%= post.user.email %><br>
      <%= link_to post.message, post %><br>
      <% if post.image.attached? %>
        <image class="image" src="<%=(url_for(post.image.variant(resize_to_limit: [400, 400])))%>">
      <% end %>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      </tr>
  <% end %>
</table>

<% end %>
